body{
  background-image:url("http://wallpapersonthe.net/wallpapers/b/1600x900/1600x900-headphones_snow_sunlight_dog_ice_trees_wolf-1400.jpg");
}
h1{
  text-align:center;
  font-family:Hoefler Text;
  font-size:5em;
  margin-bottom:100px;
  color: white;
}
a{
  color:white;
}

.search-icon {
  margin: 50px auto 0 -50%;
  left: 50%;
  z-index: 4;
  position: relative;
  padding: 5px;
  margin:0px;
  line-height: 0;
  border-radius: 100px;
  background: #b9ecfe;
  background-image: -webkit-linear-gradient(#dbf6ff, #b9ecfe);
  background-image: -moz-linear-gradient(#dbf6ff, #b9ecfe);
  display: inline-block;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6), 0 2px 5px rgba(0, 100, 150, .4);
}

.search-icon:after {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 20px;
  background: #b9ecfe;
  bottom: -10px;
  right: -3px;
  border-radius: 0 0 5px 5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  box-shadow: inset 0 -1px 0 rgbA(255, 255, 255, .6), -2px 2px 2px rgba(0, 100, 150, .4);
}
.search-icon:hover:after {
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .6), -2px 2px 2px 1px rgba(100, 200, 255, .5);
}

.results {
  margin-top: 30%;
}

.foot{
  color:#000;
  text-align:center;
  margin-top:50px;
}
a:hover{
  
  text-decoration:none;
  
  
}
#search {
  -webkit-appearance: none;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 24px;
  padding: 0 10px;
  height: 24px;
  font-size: 14px;
  color: #666;
  line-height: 24px;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 0 0 1px rgba(0, 150, 200, .5), inset 0 2px 5px rgba(0, 100, 150, .3), 0 2px 0 rgba(255, 255, 255, .6);
  position: relative;
  z-index: 5;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
}

.box{
  border: 1px solid;
  margin-bottom: 30px;
  padding:20px;
  margin-top:30px;
  font-family:papyrus;
}
.box:hover{
  border-color:brown;
  border-left-width:10px;
  background-color: #66ccff;
  
}
.form-control{
  margin:20px auto;
  background-color:transparent;
  color:white;
}
.button{
  margin-left:400px;
   background-color: Transparent; 
  margin-left:470px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
button:hover{
  opacity:0.8;
}
hr{
  color:grey;
}
